* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    min-height: 100svh;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 1400px;
}