.swiper {
    overflow: visible !important;
}

.swiper-wrapper {
    text-align: center;
    cursor: grab;
}

.swiper-pagination {
    top: 50% !important;
    left: unset !important;
    transform: rotate(90deg) !important;
    width: 110px !important;
    right: -60px;
}

.swiper-pagination-progressbar {
    background-color: #686E73 !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: white !important;
}

.swiper-scrollbar,
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.swiper_text_overlay_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.swiper_text_overlay_wrapper {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
}

.swiper_text_overlay_wrapper > div {
    flex: 1;
}

.swiper_text_overlay_wrapper > div:not(:nth-child(1)) {
    padding-left: 2rem;
}

.swiper_text_overlay_wrapper span {
    width: 0%;
    position: relative;
    display: block;
    text-wrap: nowrap;
    overflow-x: clip;
    opacity: 0;
    transition: opacity .25s ease, width 1s ease;
}

.swiper_text_overlay_wrapper.show span {
    width: 100%;
    opacity: 1;
}

.swiper-slide {
    position: relative;
    transform: scale(1);
    transition: scale 1s ease;
}

.swiper-slide .swiper_img_container {
    position: relative;
    overflow: clip;
    opacity: 1;
    transition: opacity 2s ease;
}

.swiper-slide-prev,
.swiper-slide-next {
    transform: scale(.5) !important;
}

.swiper-slide-prev img,
.swiper-slide-next img {
    opacity: 0;
}

.swiper_img_container_inner {
    position: absolute;
    background-color: #202A30;
    height: 100%;
    width: 100%;
    top: 0;
    transition: height .5s ease;
}

.swiper-slide-active .swiper_img_container_inner {
    height: 0;
}