@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    --img-container-gap: 5rem;
    --footer-height: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    letter-spacing: -.05rem;
}

h1 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}

h2 {
    font-size: clamp(1.25rem, 3vw, 2rem);
    color: gray;

}

h3 {
    color: gray;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

p {
    font-weight: 400;
    font-size: clamp(12px, 1rem, 14px);
}

section {
    position: relative;
    width: 100%;
    min-height: 100svh;
    padding: 10rem 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
}

.container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    gap: 2rem;
}

/* HEADING Containers */
.heading-container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.h2-container-list>div {
    width: 100%;
    max-width: 45vw;
}

.desc-container-list {
    width: 100%;
    max-width: 350px;
}

.desc-container {
    font-size: 1.1rem;
}

.h2-container-list .line,
.timeline-text-container-list .line,
.desc-container-list .line {
    overflow-y: clip;
    line-height: 110%;
}

.text-reveal {
    position: absolute;
    overflow: clip;
}

.text-reveal .word {
    /* display: none;
    visibility: hidden; */
    transform: translate(0, 50%);
    opacity: 0;
}

/* IMG Containers */
.img-row-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    overflow: clip;
}

.img-row-wrapper {
    position: absolute;
    left: 0;
    bottom: 4rem;
    background-color: aliceblue;
    width: auto;
    display: flex;
    flex-flow: row;
    gap: var(--img-container-gap);
    overflow: clip;
}

.img-container {
    width: 45vw;
}

.img-container:nth-child(1) {
    margin-left: 2rem;
}

.img-container:last-child {
    margin-right: 2rem;
}

.img-container img {
    width: 100%;
}

/* CTA Section */
.section_cta {
    background-color: rgb(201, 201, 201);
    min-height: 18rem;
}

.section_cta .container {
    max-width: unset;
}

.section_cta h2 {
    font-size: 2.5rem;
}

.section_cta,
.cta_cover>div {
    padding: 3rem 1.5rem;
}

.section_cta .container {
    position: unset;
}

.cta_cover {
    top: 0;
    left: 0;
    position: absolute;
    text-wrap: nowrap;
    z-index: 10;
    width: 0%;
    height: 100%;
    overflow: clip;
    background-color: rgb(41, 41, 41);
}

.cta_cover h2 {
    color: rgb(189, 189, 189);
}

/* .cta_cover.hovering {
    width: 20%;
}

.cta_cover.charging {
    width: 100%;
} */

.cta_cover-text-wrapper,
.section_cta_inner {
    width: 100vw;
    text-wrap: wrap;
    max-width: 480px;
}

.section_cta .button {
    padding: 1rem 1.5rem;
    border-radius: .8rem;
    z-index: 15;
    align-self: flex-end;
    cursor: pointer;
}

.cta_text_list_container {
    display: flex;
    flex-flow: column;
    max-height: 1rem;
    line-height: 1rem;
    overflow: clip;
}